#home-outer{
    border: 2px solid orange;
    height: 93%;
    border-radius: 5px;
    padding: 1%;
}

#home-in{
    border-radius: 10px;
    height: 90%;
}

#home-time-line{
    width: 70%;
    float: left;
    border-right: 2px solid ;
    padding-right: 5px;
    padding: 1%;
    height: 98%;
    margin-right: 1%;
}

#home-chats{
    width: 28%;
    float: right;
    border: 2px solid #a29bfe;
    border-radius: 5px;
    height: 98%;
}