#video-container {
  padding: 5px;
  width: 100%;
  margin: auto;
  height: 100%;
  background: #F0F8FF;
  border-radius: 2px;
  border: 1px solid #EE82EE;
}
video {
  object-fit: cover;
}

#grid-row-1, #grid-row-2 {
  margin: 1%;
  height: 49.5% !important;
}

#grid-row-1{
    margin-top: 3%;
    margin-bottom: 0px;
    padding: 2px; 
}

#grid-row-2{
    margin-top: 1px;
    padding: 2px; 
}
#video-grid-out {
  height: 100%;
}

.video-user {
  border-radius: 1px;
  padding: 1.5% !important; 
  margin: 0%; 
}


#video-container  video {
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}